body {
	border-color: #fff;
	color: white;
	font-family: "newbaskerville_ltregular";
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	background-color: #00007E;
}


#awwards {
	position: fixed;
	top: 120px;
}

#awwards a {
	display: inline-block;
	background-image: url(image/1.png);
	width: 70px;
	height: 105px;
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-position: 0 0;
}



#loader {
	display: flex;
	justify-content: center;
	animation: appearance 1s, radius 3s;
	animation-fill-mode: forwards;
	outline: 5px black;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 40%;
	bottom: 0;
	border: 2px solid #FF4D4D;
	/*transform: rotate(360deg);*/
	border-color: #FFFFFF;
	border-radius: 180px;
	width: 40vh;
	height: 40vh;
}

.pie {
	border: 2px solid #FF4D4D;
	/*animation: radius;
	animation-delay: 3s;
	animation-iteration-count: 1;*/
}

#round {
	display: none;
	width: 47px;
	height: 47px;
}

#pictures-slide {
	animation-fill-mode: both;
	background-repeat: no-repeat;
	opacity: 1;
	background-position: center center;
	width: 125px;
	height: 125px;
	position: absolute;
	animation: pictures 3s 1.5s, begin 2s 1s;
	animation-iteration-count: 3;
	animation-timing-function: step-end;
}

.anim-words {
	display: inline-block;
	margin-bottom: 2.5rem;
	align-self: flex-end;
	text-align: center;
	/*overflow: hidden;*/
	animation: text_appear 1s 1.5s 1;
	animation-fill-mode: forwards;
}

.date {
	/*display: inline-block;*/
	/*overflow: hidden;*/
	animation: days 3s 2.5s;
	/*animation-fill-mode: both;*/
}

.date:after {
	content: "";
}
/*
.date span:nth-child(2) {
	animation-delay: 4s;
}

.date span:nth-child(3) {
	animation-delay: 5s;
}
.date span:nth-child(4) {
	animation-delay: 6s;
}*/
/*.date span:nth-child(2) {
	animation-delay: 4s;
}
*/
/*
.month {
	margin-bottom: 1rem;
}
*/

@keyframes appearance {
	from {bottom: 0px;}
	to {top: 220px;}
}

@keyframes pictures {
	0% {background-image: url(image/loader/01.png);}   
	25% {background-image: url(image/loader/02.png);}
	50% {background-image: url(image/loader/03.png);}
	75% {background-image: url(image/loader/04.png);}
	100% {background-image: url(image/loader/01.png);}
}

@keyframes days {
	0% {content:"13 Thursday";}
	30% {content:"14 Friday";}
	60% {content:"15 Saturday";}
	100% {content:"16 Sunday";}
}


@keyframes begin {
	from {transform: translateY(0px);}
	to {transform: translateY(60px);}
}

/*@keyframes radius {
	0% {}
}*/

@keyframes text_appear {
	from {transform: translateY(0px);}
	to {transform: translateY(-60px);}
}


@keyframes radius {
	0% {/*border-radius: 185px; border-color: red*/outline: 5px red; transform: rotate(90deg);}
	30% {outline: 5px red; transform: rotate(180deg);}
	60% {outline: 5px red; transform: rotate(270deg);}
	100% {outline: 5px red; transform: rotate(360deg);}	
}
