body {
	border-color: #fff;
	color: white;
	font-family: "newbaskerville_ltregular";
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	background-color: #00007E;
}

#bgImg {
	animation: imgChange 0.5s 9s forwards;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background-repeat: no-repeat;
    background-size: cover;
}


#awwards {
	position: fixed;
	top: 120px;
	z-index: 1;
}

#awwards a {
	display: inline-block;
	background-image: url(image/1.png);
	width: 70px;
	height: 105px;
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-position: 0 0;
}


#loader {
	display: flex;
	justify-content: center;
	animation: appearance 1s, radius 3s, finish 1s 8s;
	animation-fill-mode: forwards;
	outline: 5px black;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	border: 2px solid #FFFFFF;
	border-radius: 50%;
	width: 40vh;
	height: 40vh;
	text-align: center;
}

#loader svg {
	transform: rotate(-90deg);
	transform-origin: center;
	overflow: visible;
	position: absolute;
}
#loader svg circle {
	animation: rotateCircle 4s 2s forwards;	
}
@keyframes rotateCircle {
	 0% {stroke-dashoffset: 320;}
	24% {stroke-dashoffset: 270;}
	25% {stroke-dashoffset: 270;}
	50% {stroke-dashoffset: 160;}
	75% {stroke-dashoffset: 86;}
	100% {stroke-dashoffset: 0;}
}

.pie {
	border: 2px solid #FF4D4D;
	/*animation: radius;
	animation-delay: 3s;
	animation-iteration-count: 1;*/
}

#round {
	display: none;
	width: 47px;
	height: 47px;
}

#pictures-slide {
	animation-fill-mode: both;
	background-repeat: no-repeat;
	opacity: 1;
	background-position: center center;
	width: 125px;
	height: 125px;
	position: absolute;
	animation: pictures 3s 1.5s, begin 2s 1s;
	animation-iteration-count: 3, 1;
	animation-timing-function: step-end, ease;
	animation-fill-mode: forwards;
}

.anim-words {
	display: inline-block;
	margin-bottom: 2.5rem;
	align-self: flex-end;
	text-align: center;
	/*overflow: hidden;*/
	animation: text_appear 1s 1.5s 1;
	animation-fill-mode: forwards;
}

.date {
	display: inline-block;
	overflow: hidden;
	animation-fill-mode: both;
}
/*
.date:after {
	content: "";
	animation: days 3s 2.5s;
}*/
.date span {
	animation: leftToRight 7s linear 1 3s;
	animation-delay: 3s;
	 opacity: 0; 
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.date span:nth-child(2) {
	animation-delay: 4s;
}

.date span:nth-child(3) {
	animation-delay: 5s;
}
.date span:nth-child(4) {
	animation-delay: 6s;
}

/*
.month {
	margin-bottom: 1rem;
}
*/

@keyframes appearance {
	from {bottom: 0px;}
	to {top: 220px;}
}

@keyframes pictures {
	0% {background-image: url(image/loader/01.png);}   
	25% {background-image: url(image/loader/02.png);}
	50% {background-image: url(image/loader/03.png);}
	75% {background-image: url(image/loader/04.png);}
	100% {background-image: url(image/loader/01.png);}
}
/*
@keyframes days {
	0% {content:"13 Thursday";}
	30% {content:"14 Friday";}
	60% {content:"15 Saturday";}
	100% {content:"16 Sunday";}
}
*/

@keyframes leftToRight {
	0% { opacity: 0; }
	5% { opacity: 0; transform: translateX(-100px); }
	10% {opacity: 1;transform: translateX(-50%);}
	25% {opacity: 1;transform: translateX(-50%);}
	30% { opacity: 0; transform: translateX(100px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}

@keyframes finish {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0; 
	}
}
@keyframes begin {
	from {transform: translateY(0px);}
	to {transform: translateY(60px);}
}

/*@keyframes radius {
	0% {}
}*/

@keyframes text_appear {
	from {transform: translateY(0px);}
	to {transform: translateY(-60px);}
}


/*@keyframes radius {*/
	/*0% {*//*border-radius: 185px; border-color: red*//*outline: 5px red; transform: rotate(90deg);}
	30% {outline: 5px red; transform: rotate(180deg);}
	60% {outline: 5px red; transform: rotate(270deg);}
	100% {outline: 5px red; transform: rotate(360deg);}*/	
/*}*/



#intro {
	/*display: none;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	 height: 100%; 
	width: 100%;
	position: absolute;
	font-size: 29px;
	overflow: hidden;
	animation: showDiv 9s, bgImg 9s; 
	animation-fill-mode: none, forwards; 
}

#intro p {
	align-self:  center;
	/* align-items: center; */
	position: absolute;
	text-align: center;
	width: 80%;
}

#tower {
	padding-top: 230px;
	/* object-position:  center; */
	width: 40px;
	height: 60px;
}

#discover {
	/* align-self: flex-end; */
	/* align-content:  flex-end; */
	align-items: flex-end;
	text-align: center;
	background: #fff;
	color: #192C6D;
	border-radius: 5px;
	display: block;
	height: 50px;
	width: 190px;
	line-height: 51px;
	position: absolute;
	/* left: 50%; */
	top: 65%;
	letter-spacing: 3px;
}

@keyframes showDiv {
  0%, 99% {
    height: 0px;
  }
  100% {
    height: 120px;
  }
}

@keyframes imgChange
{
    from {background: #00007E;}
    to {
    	background: url(image/map.jpg);
		opacity:0.3;
	}
}

@keyframes bgImg {
	0%, 99%  {background-color: transparent;}
	to {background-color: rgba(25, 42, 117, .7)};
}